deep-translator
fastapi
huggingface-hub
langchain-core
langchain-huggingface
langchain-openai
langchain-pinecone
Pillow
pinecone
PyMuPDF
pymongo
pytesseract
python-docx
python-dotenv
python-multipart
reportlab
requests
sentence-transformers
torch
transformers
uvicorn[standard]
langchain-community
pypdf